body { 
	background-color:#eee;
	font-family:Inconsolata, Menlo, "Courier New", Monaco, monospace;
	font-size:100%;
	margin-right: 0px;
	@if is_mac() {
		margin-left:4px;
	}
	@if is_ios() {
		margin-left:0px;
		overflow-x: hidden;
	}
}

#consoleOutputGenerated {
	white-space: pre;
	overflow:auto;
}

#consoleOutput {
	width:100%;
	overflow: scroll;
  margin-left: 8px;
  margin-right: 8px; }

.sessionMsg {
  margin-bottom:4px;
  white-space: normal;
}

.logText {
  font-size: 80%;
  color: green;
  white-space: normal; }

.statusText {
  padding:2px;
  background-color:#16c285
}

.helpMsg {
  padding:2px;
  color:#0ab652;
  text-decoration: none !important;
}

.helpMsg a { text-decoration: none !important; }

.inputText {
  padding:2px;
  background-color: #87FFA6; }

.serverError {
	padding:2px;
	background-color:#e5a7b8;}

.Rimg {
	min-height:32px;
	position:relative;
}

table.ir-expvec {
  border-collapse: collapse;
  margin-bottom: 6px;
  margin-top: 6px; }

table.ir-expvec td {
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
  text-align: right; }

table.ir-expvec th {
	text-align: left; 
	vertical-align:top;
}

td.ir-expvecnest {
  text-align: left !important; }

table.ir-expvec th.ir-df-ch {
  text-align: center; }

#consoleOutputGenerated > table > tbody > tr:nth-child(even) {
  background-color: #E2FF87; }

#consoleOutputGenerated > table > tbody > tr:nth-child(odd) {
  background-color: #FFDB87; }

table.ir-mx th {
  background-color: #FFA532;
  padding: 2px;
  min-width: 20px;
  text-align: center;
  border: 1px dotted green; }

table.ir-mx td {
  border: 1px dotted green; }

.toggleImg {
	margin-left:4px;
}

/** not sure if these pdf ones are used */
.pdf {
	margin-top:4px;
}

.pdf img {
	margin-bottom:-2px;
	margin-right:4px;
}

/* these two are valid classes but on the wrong tags. ??? */
div.Rimg {
  border-width: 1px;
  border-style: solid;
  margin: 2px;
  border-color: #ff243b;
  background-color: #58ff4a;
  height: 80px;
  width: 80px;
  visibility: hidden;
  display: none; }

span.genImg {
  width: 120px;
  height: 110px;
  float: left;
  border: 1px solid #999999;
  margin: 1px;
  display: block; }

.gimglink {
	margin-right:16px;
}

