<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>21</integer>
	<key>name</key>
	<string>Default</string>
	<key>colors</key>
	<dict>
		<key>PriorityColors</key>
		<array>
			<string>db0404</string>
			<string>e0610d</string>
			<string>000000</string>
			<string>0099cc</string>
			<string>3e1ce9</string>
		</array>
		<key>MessageBackground</key>
		<string>ebc4dc</string>
		<key>MessageCellStart</key>
		<string>d7ba4f</string>
		<key>MessageCellEnd</key>
		<string>eeeeee</string>
		<key>MessageSelectedStart</key>
		<string>45a7bc</string>
		<key>MessageSelectedEnd</key>
		<string>ffffff</string>
		<key>MessageCenterBackground</key>
		<string>f4edd1</string>
		<key>WelcomeBackground</key>
		<string>f4edd1</string>
		<key>MasterBackground</key>
		<string>f4edd1</string>
		<key>MasterCellStart</key>
		<string>f4edd1</string>
		<key>MasterCellEnd</key>
		<string>f6eabb</string>
		<key>MasterCell</key>
		<string>f6eabb</string>
		<key>MasterImageTint</key>
		<string>000000</string>
		<key>MasterCellSelectedStart</key>
		<string>d2ecf5</string>
		<key>MasterCellSelectedEnd</key>
		<string>c2e8f5</string>
		<key>SessionPaneSplitterStart</key>
		<string>#e1bf82</string>
		<key>SessionPaneSplitterEnd</key>
		<string>dbdf81</string>

	</dict>
</dict>
</plist>
