body {
  background-color: #fff;
 }

.logText {
  color: #999;
 }

.sessionMsg {
	white-space:inherit;
}

.statusText {
  background-color: #999; }

.helpMsg {
  color: #333;
  }

.inputText {
  background-color: #e9e9e9; margin-bottom:4px; margin-top:4px;}

.serverError {
  background-color: #b3b3b3; }

#consoleOutputGenerated > table > tbody > tr:nth-child(even) {
  background-color: #fff; }

#consoleOutputGenerated > table > tbody > tr:nth-child(odd) {
  background-color: #fff; }

table.ir-mx th {
  background-color: #aaa;
  border: 1px dotted black; }

table.ir-mx td {
  border: 1px dotted black; }

