<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>21</integer>
	<key>name</key>
	<string>Greyscale</string>
	<key>colors</key>
	<dict>
		<key>ResultsBackground</key>
		<string>dddddd</string>
		<key>ResultsHeader</key>
		<string>cdcdcd</string>
		<key>ResultsOddRow</key>
		<string>eeeeee</string>
		<key>ResultsEvenRow</key>
		<string>cccccc</string>
		<key>ProjectColor</key>
		<string>E9E9E9</string>
		<key>PriorityColors</key>
		<array>
			<string>db0404</string>
			<string>e0610d</string>
			<string>000000</string>
			<string>0099cc</string>
			<string>3e1ce9</string>
		</array>
		<key>MessageBackground</key>
		<string>999999</string>
		<key>MessageCellStart</key>
		<string>cccccc</string>
		<key>MessageCellEnd</key>
		<string>eeeeee</string>
		<key>MessageSelectedStart</key>
		<string>dddddd</string>
		<key>MessageSelectedEnd</key>
		<string>ffffff</string>
		<key>MessageCenterBackground</key>
		<string>fcfcfc</string>
		<key>WelcomeBackground</key>
		<string>ffffff</string>
		<key>MasterBackground</key>
		<string>ffffff</string>
		<key>MasterCellStart</key>
		<string>cccccc</string>
		<key>MasterCellEnd</key>
		<string>eeeeee</string>
		<key>MasterCell</key>
		<string>eeeeee</string>
		<key>MasterImageTint</key>
		<string>000000</string>
		<key>MasterCellSelectedStart</key>
		<string>999999</string>
		<key>MasterCellSelectedEnd</key>
		<string>aaaaaa</string>
	</dict>
	<key>cssfile</key>
	<string>greyscale.css</string>
</dict>
</plist>
