<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColorKeys</key>
	<array>
		<string>MessageBackground</string>
		<string>MessageCellStart</string>
		<string>MessageCellEnd</string>
		<string>MessageSelectedStart</string>
		<string>MessageSelectedEnd</string>
		<string>MessageCenterBackground</string>
		<string>WelcomeBackground</string>
		<string>WelcomeBackgroundStart</string>
		<string>WelcomeBackgroundEnd</string>
		<string>MasterBackground</string>
		<string>MasterBackgroundStart</string>
		<string>MasterBackgroundEnd</string>
		<string>MasterCellStart</string>
		<string>MasterCellEnd</string>
		<string>MasterCell</string>
		<string>MasterImageTint</string>
		<string>MasterCellSelectedStart</string>
		<string>MasterCellSelectedEnd</string>
		<string>SessionPaneSplitterStart</string>
		<string>SessionPaneSplitterEnd</string>
	</array>
</dict>
</plist>
