<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorKeys</key>
	<array>
		<string>ProjectColor</string>
		<string>WorkspaceColor</string>
		<string>ClassColor</string>
		<string>NoteCellStart</string>
		<string>NoteCellEnd</string>
		<string>WelcomeBackground</string>
		<string>MasterBackground</string>
		<string>MasterCellStart</string>
		<string>MasterCellEnd</string>
		<string>MasterCell</string>
		<string>MasterImageTint</string>
		<string>MasterCellSelectedStart</string>
		<string>MasterCellSelectedEnd</string>
		<string>SessionPaneSplitterStart</string>
		<string>SessionPaneSplitterEnd</string>
		<string>ResultsBackground</string>
		<string>ResultsHeader</string>
		<string>ResultsEvenRow</string>
		<string>ResultsOddRow</string>
		<string>ProjectColor</string>
		<string>WorkspaceColor</string>
		<string>MessageBackground</string>
		<string>MessageCellStart</string>
		<string>MessageCellEnd</string>
		<string>MessageSelectedStart</string>
		<string>MessageSelectedEnd</string>
		<string>MessageCenterBackground</string>
		<string>PriorityColors</string>
		<string>TextSelectionColor</string>
	</array>
</dict>
</plist>
