<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoLogin</key>
	<false/>
	<key>WebKitDeveloperExtras</key>
	<true/>
	<key>NumImagesVisible</key>
	<integer>1</integer>
	<key>CommandHistoryMaxLen</key>
	<integer>10</integer>
	<key>SyntaxColor_Comment</key>
	<string>1735FF</string>
	<key>SyntaxColor_Keyword</key>
	<string>C71267</string>
	<key>SyntaxColor_Function</key>
	<string>C78312</string>
	<key>EditorFontSize</key>
	<integer>13</integer>
	<key>EditorFontColor</key>
	<string>000000</string>
	<key>EditorBGColor</key>
	<string>FFFFFF</string>
	<key>EditorFontDisplayName</key>
	<string>Inconsolata</string>
	<key>KeyToolbar</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Title</key>
					<string>←</string>
					<key>String</key>
					<string>&lt;-</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>⇥</string>
					<key>String</key>
					<string>	</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>(</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>)</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>[</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>]</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>{</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>}</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Numbers</string>
			<key>Buttons</key>
			<array>
				<dict>
					<key>Title</key>
					<string>1</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>2</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>3</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>4</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>5</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>6</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>7</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>8</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>9</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
