<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LevelOperator</key>
	<string>=</string>
	<key>ContextOperator</key>
	<string>=</string>
	<key>StartOperator</key>
	<string>&gt;=</string>
	<key>EndOperator</key>
	<string>&lt;</string>
	<key>ContextMappings</key>
	<dict>
		<key>845369856</key>
		<string>Rc2</string>
		<key>2035699009</key>
		<string>Vyana</string>
	</dict>
</dict>
</plist>
